* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html,
body {
    font-size: 62.5%;
    height: 100vh;
}

ul,
li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: rgb(245, 245, 250);
}

.posts {
    display: flex;
}

div {
    height: 100px;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}